@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.text {
    border: 1px solid black;
}

.p {
    border: none;
}

.e {
    height: 35px;
    border-radius: 12px;
    color: white;
}

.r {
    background-color: crimson;
    height: 35px;
    border-radius: 12px;
    color: white;
}

select {
    border: 1px solid gray;
}

.skeletonL {
    width: 35%;
}

/* .imags{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.berita-lainnya {
    display: flex;
    justify-content: space-between;
    width: 100%;
    column-gap: 15px;
    align-items: start;
    padding: 10px;
}

.skeleton-newslist {
    width: 100%;
    height: 130px;
    border-radius: 12px;
}

.newslist {
    display: flex;
    row-gap: 15px;
    flex-direction: column;
    width: 35%;
}

.cardsl {
    display: flex;
    width: 100%;
    background-color: aliceblue;
    box-shadow: 2px 3px;
    border-radius: 12px;
    height: 130px;
}


.cardsl figure {
    width: 30%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /* Menambahkan properti position: relative; */
}

.cardsl figure img {
    border-radius: 12px;
    width: 100%;
    /* Mengubah nilai width menjadi 100% */
    height: 100%;
    /* Menambahkan properti height: 100%; */
    object-fit: cover;
    /* Menambahkan properti object-fit */
    position: absolute;
    /* Menambahkan properti position: absolute; */
    top: 0;
    /* Menambahkan properti top: 0; */
    left: 0;
    /* Menambahkan properti left: 0; */
}

.cardD {
    display: flex;
    align-items: end;
    justify-content: space-around;
    width: 75%;
    flex-direction: column;
}

.cardD .title {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cardD .title .titleT {
    color: rgb(2, 112, 255);
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 15px;
    width: 75%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardD .title .view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background: transparent;
    color: #555;
    border: 1px solid #555;
}

.cardD .title .titleT:hover {
    text-decoration: underline;
}

.cardD .description {
    width: 83%;
    color: #555;
    font-size: 13px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    text-align: end;
    padding-right: 7px;
    margin-right: 7px;
}

.cb .description{
    color: rgb(2, 112, 255);
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 15px;
    width: 85%;
    justify-content: end;
    display: flex;
    flex-direction: column;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardD .author {
    display: flex;
    width: 95%;
    justify-content: space-around;
    align-items: center;
}

.cardD .author .name {
    background: transparent;
    color: #555;
}

.cardD .author .category .carbon {
    font-size: 13.4px;
    color: #777777;
}

.carousel-item {
    margin-top: 6px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    display: grid;
    place-content: center;
    /* Menambahkan properti position: relative; */
}


.im {
    border-radius: 12px;
    width: 100%;
    /* Mengubah nilai width menjadi 100% */
    height: 280px;
    /* Menambahkan properti height: 100%; */
    object-fit: cover;
    /* Menambahkan properti object-fit */

}

.main {
    background-color: #f5f2f4;
}


.index {
    background: linear-gradient(to bottom right, #ef33dc, white, white);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

}



.bblr {
    background: linear-gradient(135deg, rgba(104, 103, 103, 0.628), rgba(78, 77, 77, 0.148));
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: -8px 10px 32px 0 rgb(92, 91, 91);
    width: 65%;
}

.bblr.lg {
    height: 100%;
    display: flex;
    justify-content: start;
    width: 28%;
    padding-bottom: 13px;
}

.bblr.lg p {
    color: white;
    font-weight: bold;
    text-align: start;
}

.text-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-top: 40px;
    flex-wrap: wrap-reverse;
}

.text-header h1 {
    font-size: 50px;
    color: #ef33dc;
    text-shadow: -1px -1px 0 white, 1px 1px 0 #e7008a;
    font-weight: bold;
}

.text-header p {
    font-size: 35px;
    font-weight: bold;
    text-shadow: -1px -1px 0 white, 1px 1px 0 #e7008a;

}

.text-header img {
    width: 30%;
}


.cardsl.side {
    width: 90%;
    height: 110px;
}

.cd {
    font-size: 17px;
    color: black;
}

.cb {
    width: 70%;
    height: 90%;
    padding: 0 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}


.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}

.divider {
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 35px;
}


.divider p {
    border: 2px solid #ef33dc;
    padding: 5px;
    color:gray;
    border-radius: 10px;
}

.divider:before,
.divider:after {
    flex: 1;
    content: '';
    padding: 3px;
    background-color: #ef33dc;
    margin: 1px;
}

 .sas{
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align:start;
    width: 100%;
    color: grey;
    margin-bottom: 20px;
}

 .sas h1{
    border: 1px solid #ef33dc;
    padding: 5px;
    color: gray;
    border-radius: 8px;
    font-weight: 500;
}

  .sas::after{
    width: 100%;
    content: '';
    padding: 3px;
    background-color: #ef33dc;
    flex:1;
    margin:2px;
}


.sidecontent {
    overflow-y: auto;
    max-height: calc(100vh);
    width: 100%;
}

.sidebar {
    width: 20%;
}


.lord {
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.sidecontent {
    width: 80%;
    height: 100%;
}

.sidecontent.full {
    width: 100%;
}

.box-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    row-gap: 50px;
    height: 80%;
}

.box-sidebar .image {
    width: 80%;
    border-radius: 12px;
}

.box-sidebar .image img {
    width: 80%;
}

.box-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.box-link li {
    padding: 5px;
    width: 95%;
    color: black;
    font-weight: bold;
    transition: 2s;
}


.box-link li .route{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
    padding: 9px 0 9px 9px;
    width: 95%;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.box-link li .route:hover{
    border-radius: 8px;
    background-color: #a09e9e;
}

.box-link li:first-child {
    border-top: 2px solid black;
}



.cardw {
    padding: 10px;
    width: 35%;
    height: 110px;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
    color: white;
    border-radius: 7px;
}

.cardw .box-icon {
    width: 35%;
    display: grid;
    place-content: center;
    color: white;
}

.cardw .textw {

    font-size: 18px;
    font-weight: 500;
}

.cardw .textw p {
    font-size: 23px;
    font-weight: bold;
    color: black;
}

.cardw .box-icon .icon {
    font-size: 40px;
    background: transparent;
}

.boxw {
    height: 300px;
}


/* dashboard message */
.tolak {
    color: #721c24;
    background-color: #f8d7da;
    border: 2px solid #f5c6cb;
}

.terima {
    color: #155724;
    background-color: #b7e6c2;
    border: 2px solid #97e3a9;
}

.title-message {
    background-color: #dddddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: black;
    padding: 7px 0 7px 8px;
    font-weight: 400;
}

.polar {
    width: 400px;
    height: 400px;
    display: grid;
    place-content: center;
}

.message {
    width: 300px;
    height: 400px;
}

.message-title {
    width: 95%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* end dashboard message */

/* form news */
#foto {
    border: 1px solid black;
}

label {
    color: black;
    font-weight: bold;
}

.alert.alert-warning li {
    list-style-type: disc;
}

input {
    color: black;
    width: 50%;
}

select {
    color: black;
    width: 50%;
}

textarea {
    height: 200px;
    color: black
}

/* login admin */
* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: rgb(25, 20, 56);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid .container .icon {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(25, 20, 56);
    width: 60px;
    padding: 10px 5px 10px 5px;
    border-radius: 50%;
}

.container-fluid .container .card {
    width: 30%;
    background-color: rgba(41, 51, 61, 0.502);
    padding: 15px 10px 15px 10px;
    row-gap: 15px;
    height: 420px;
    border-top: 5px solid rgba(187, 95, 249, 0.87);
}

.container-fluid .container .card .var {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid .container .card .mb-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 2px solid #9400D3;
    position: relative;
}


.container-fluid .container .card .mb-3 label {
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    pointer-events: none;
    transition: .5s;
    color: white;
}

.container-fluid .container .card .mb-3 input:-webkit-autofill,
.container-fluid .container .card .mb-3 input:-webkit-autofill:hover,
.container-fluid .container .card .mb-3 input:-webkit-autofill:focus,
.container-fluid .container .card .mb-3 input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
    background-color: transparent !important;
    color: white !important;
    border: none;

}

.container-fluid .container .card .mb-3 input:focus~label,
.container-fluid .container .card .mb-3 input:valid:not(:placeholder-shown)~label {
    top: -8px;
    font-size: 12px;
    outline: none;
}

.container-fluid .container .card .mb-3 input {
    background: transparent !important;
    border: none;
    outline: none;
    color: white;
    padding: 0 35px 0 5px;
    width: 100%;
    height: 100%;
    font-weight: 400;
}

.password-container {
    position: relative;
    width: 100%;
}

#password {
    padding-right: 30px;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
    transform: translateY(-70%);
    color: white;
    font-size: 15px;
}

.container-fluid .container .card form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.container-fluid .container .card form #submit {
    width: 60%;
    background-image: linear-gradient(to right, #9400D3, #BA2BE3, #4B0082);
    border: none;
    padding: 5px 0 10px 5px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    transition: 1s;
}

.container-fluid .container .card form #submit:hover {
    box-shadow: 0px 0px 10px 7px #a13ecb;
}



.icon-usr {
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    position: absolute;
    top: 4px;
    left: 230px;
}



.icon-us {
    width: 40px;
    height: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: -3px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
}

.icon-us.none{
    display: none;
}

.card-message {
    height: 350px;
}

@media screen and (max-width:1024px) {
    .icon-usr{
        left: 180px;
    }
}

@media screen and (max-width:900px) {
    .icon-usr {
        width: 40px;
        height: 40px;
        background-color: white;
        color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        position: absolute;
        top: 2px;
        left: 150px;
    }
}


@media screen and (max-width:950px) {
    .container-fluid .container {
        width: 100%;
    }

    .container-fluid .container .card {
        width: 60%;
        height: 450px;
        row-gap: 30px;
    }

    .container-fluid .container .card form {
        row-gap: 40px;
    }

    .polar {
        width:350px;
        height:350px;
    }

    .message {
        width:275px;
        height:auto;
    }

    .card-message{
        height: 270px;
    }
}

@media screen and (max-width:769px) {
    .container-fluid .container {
        width: 100%;
    }

    .container-fluid .container .card {
        width: 70%;
        height: 450px;
        row-gap: 30px;
    }

    .container-fluid .container .card form {
        row-gap: 40px;
    }



    .sidebar.usr{
        width: 25%;
    }

    .sidecontent {
        width: 75%;
    }

    .polar-message{
        display: grid;
        place-content: center;
        gap: 20px;
    }
    .message {
        width: 350px;
    }
}

@media screen and (max-width:860px) {
    .cardw {
        width: 40%;
    }
}

@media screen and (max-width:800px) {
    .pemberitahuan {
        font-size: 10px;
    }
}


@media screen and (max-width:500px) {
    .container-fluid .container {
        width: 90%;
    }

    .container-fluid .container .card {
        width: 90%;
        height: 450px;
        row-gap: 30px;
    }

    .container-fluid .container .card form {
        row-gap: 40px;
    }
}

/* end login mobil */

@media screen and (max-width:639px) {
    .sidebar.usr {
        display: none;
    }

    .sidecontent {
        width: 100%;
    }

    .icon-us{
        display:none;
    }

    .boxw {
        height: 600px;
    }

    .box-cardw {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .cardw {
        width: 80%;
    }

    .message {
        width: 80%;
    }

    .polar-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 25px;
        padding: 10px 0 10px 0;
        width: 100%;
    }

    .textw {
        width: 80%;
        text-align: center;
    }

    .polar-message .polar {
        width: 80%;
    }

    .polar-message .card-message {
        padding: 5px 0 7px 0;
    }
}

/* mynews */
.des {
    width: 10px;
    overflow-x: hidden;
}

@media screen and (max-width:450px) {
    input {
        width: 100%;
    }
}


/* admin */
.mother {
    display: flex;
    flex-wrap: nowrap;
}

.container-sidebar {
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: start;
}

.sidebar.ad {
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    width: 0;
    position: absolute;
}

.sidebar.ad.active {
    transform: translateX(0);
    width: 20%;
    height: 100%;
    z-index: 800;
    position: fixed;
}

.mother .sidebar .card-sidebar {
    transition: transform 0.3s ease;
    /* Animasi transisi ketika transform diubah */
    transform: translateX(-100%);
    display: none;
}

.mother .sidebar.active .card-sidebar {
    background-color: rgb(24, 24, 24);
    padding: 5px 10px 5px 10px;
    display: block;
    height: 100%;
    transform: translateX(0);
    overflow-y: auto;

    ::-webkit-scrollbar {
        width: 8px;
        /* Lebar scrollbar */
    }
}

.mother .sidebar.active .card-sidebar::-webkit-scrollbar {
    width: 8px;
    /* Lebar scrollbar */
}

.mother .sidebar.active .card-sidebar::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Warna latar belakang track */
}

.mother .sidebar.active .card-sidebar::-webkit-scrollbar-thumb {
    background: #888;
    /* Warna thumb */
    border-radius: 4px;
    /* Rounding untuk thumb */
}

.mother .sidebar.active .card-sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Warna thumb saat di hover */
}

.mother .sidebar .card-fto {
    display: flex;
    flex-wrap: nowrap;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-size: 12px;
    column-gap: 12px;
    align-items: center;
}

.mother .sidebar .card-fto .foto {
    border-radius: 10px;
    background-color: #a13ecb;
    width: 22%;
}

.mother .sidebar .card-fto .foto img {
    border-radius: 9px;
}

.icons {
    font-size: 21px;
}

.search {
    width: 100%;
    padding: 7px;
    margin-top: 25px;
}

.search .box-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search .box-search input {
    background-color: transparent;
    width: 100%;
    border-radius: 8px;
    color: white;
    height: 50px;

}

.hasil {
    background-color: rgb(24, 24, 24);
    width: 170px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 6px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 123px;
    font-weight: 600;
}

.hasil p {
    color: rgb(0, 157, 255);
    font-weight: 200;
}

.hasil:hover {
    background-color: rgb(57, 55, 55);
}

.hero-bar {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-top: 40px;
    padding: 10px;
}

.hero-bar .route {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    column-gap: 12px;
    color: white;
}

.navigasi {
    margin-top: 30px;
    border-top: 1px solid gray;
}

.navigasi .route-nav {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.navigasi .route-nav .nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    color: white;
    column-gap: 12px;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    height: 40px;
}

.navigasi .route-nav .nav p {
    font-size: 16px;
}

.navigasi .route-nav .nav:hover {
    background-color: gray;
}


.navigasi .route-nav .drop-nav {
    width: 88%;
    margin-left: 12px;
    padding: 9px 5px 5px 5px;
}

.navigasi .route-nav .drop-nav .li {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 12px;
    font-family: "Ubuntu", sans-serif;
    color: white;
    font-size: 21px;
    row-gap: 19px;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.4s;
    padding: 5px;
    align-items: center;
    animation-name: dropdownAnimation;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
}

@keyframes dropdownAnimation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.navigasi .route-nav .drop-nav .li:hover {
    background-color: gray;
}

.navbar {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 100%;
}

.content.active .cont {
    overflow-y: auto;
    transition: 0.3s;
    transform: transform 0.3s;
    width: 80%;
    height: 100%;
}

.cont {
    transition: 0.2s;
    width: 100%;
}


.icon {
    background-color: #f1f1f1;
    width: 100%;
    border-bottom: 1px solid grey;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.icon .box-icon {
    font-size: 21px;
    text-align: start;
    color: rgb(84, 84, 84);
    padding: 5px 0 5px 10px;
}

.box-icont {
    font-size: 21px;
    width: 30px;
    display: grid;
    place-content: center;
    position: absolute;
    top: 4px;
    right: -28px;
    background-color: rgb(24, 24, 24);
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box-icont.hidden {
    display: none;
}

.icon .logo-sos {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon .logo-sos.re {
    width: 100%;
    justify-content: end;
}

.icon .logo-sos .box-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    color: rgb(84, 84, 84);
    width: 65%;
}


.icon .logo-sos.re .box-logo {
    justify-content: space-around;
    width: 10%;
}

.content .box-content {
    overflow-y: auto;
}

.box-cardb {
    width: 100%;
    /* Lebar pembungkus sesuai dengan lebar layar */
    padding: 10px;
    /* Atur padding sesuai kebutuhan */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    /* Atur jarak antara .cardb */
}

.box-cardb .cardb {
    background-color: #f1f1f1;
}


.cardb {
    padding: 10px;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
    color: white;
    border-radius: 7px;
    margin-top: 20px;
    width: calc(23%);
    margin-bottom: 10px;
}

@media (max-width: 1096px) {
    .content.active .cont {
        height: 707px;
    }

    .cardb {
        width: 40%;
        /* Saat layar mengecil, .cardb akan menjadi full width */
    }
}

@media (max-width: 655px) {
    .box-cardb {
        justify-content: center;
    }

    .cardb {
        width: 95%;
        /* Saat layar mengecil, .cardb akan menjadi full width */
    }
}

.cardb {
    background-color: #dddddd;

}

.cardb .box-icon {
    width: 35%;
    display: grid;
    place-content: center;
    color: white;
    border-radius: 4px;
}

.cardb .box-icon .icon {
    background: none;
}

.cardb .textw {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    text-wrap: nowrap;
    width: 80%;
    color: #555;
}

.cardb .textw p {
    font-size: 23px;
    font-weight: bold;
    color: #555;
}

.cardb .box-icon .icon {
    font-size: 40px;
}

.box-chart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding: 12px 0 8px 0;
    height: 385px;
    flex-wrap: wrap;
}

.box-chart .card-chart {
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

.box-chart .chart {
    overflow-x: auto;
    padding-top: 20px;
    border-radius: 8px;
}

.box-chart .chart::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

.box-chart .chart::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.box-chart .chart::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.box-chart .chart::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.box-chart .chart p {
    color: #555;
    font-weight: 500;
    font-size: 22px;
}

.box-chart .box-news {
    width: 30%;
    background-color: #f1f1f1;
    border-radius: 8px;
    height: 98%;
}

.box-chart .box-news .title {
    color: #555;
    border-bottom: 1px solid #888;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    overflow-y: auto;

}

.box-chart .box-news .news {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px 0 7px 12px;
    overflow-y: auto;
    height: 280px;
}

.box-chart .box-news .news::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

.box-chart .box-news .news::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.box-chart .box-news .news::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.box-chart .box-news .news::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.box-chart .box-news .news .card-news {
    background-color: #f1f1f1;
    width: 75%;
    padding: 10px;
    border-radius: 5px;
    color: #8f8e8e;
}

.box-table {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    row-gap:10px;
    width: 100%;
    height: 100vh;
}

.box-table .tableP {
    width: 98%;
    background-color: white;
    border-radius: 8px;
    overflow-x: auto;
    padding: 10px;
    overflow-y: auto;
}

.box-table .tableP::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

.box-table .tableP::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.box-table .tableP::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.box-table .tableP::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.box-table .tableP .table {
    color: #555;
    font-weight: 400;
}

.box-table .tableP .table thead tr {
    color: #555;
    font-weight: 400;
}

/* views pending */
.img{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.img img{
    margin-top: 30px;
    width: 70%;
}

.description.view{
    width: 80%;
    margin-top:30px;
    margin-bottom:20px;
}
/* end view pending */

/* user */
.modalU {
    display: none;
}


.modalU.active{
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.637);
    backdrop-filter: blur(10px);
    position: fixed;
    display:flex;
    justify-content:center;
    align-items:center;
    animation: animate 0.2s ease;
}

@keyframes animate {
    from {
        transform: translateY(-100%);
    }

    to{
        transform: translateY(0);
    }
}

.box-modal{
    width:35%;
    background-color:white;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
}

.card-modal{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    width: 100%;
    padding: 0 10px 0 10px;
    margin-bottom: 15px;
}

.close{
    width: 35px;
    border-radius: 7px;
}

.close:hover{
    background-color: rgb(233, 61, 61);
}
/* end user */

/* view pending */
.aksi{
    position: fixed;
    bottom: 0;
    height: 65px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.box-aksi{
    column-gap: 12px;
}
/* end view pending */

/* settings */
.ug{
    width: 70%;
}

.dgr {
    height: 40px;
    background-color: rgb(253, 46, 46);
    border-radius: 6px;
    font-weight: bold; 
    margin-top: 10px;
    width: 150px;
}

.dgr:hover{
    background-color: rgb(229, 16, 16);
}

.mdl{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.735);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.mdl form{
    width: 70%;
}
/* end settings */

/* international */
.inter{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.gatau{
    width: 100%;
    background-color: white;
    padding: 5px;
}

.inter-container.wide{
    width: 100%;
    padding: 10px;
}

.inter-container.wide .cardIn{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap:wrap;
    width: 100%;
    border-bottom:1px solid gray;
    margin-bottom:9px;
}

.gatau .inter-container.wide .cardIn figure{
    width: 70%;
}

.inter-container.wide .cardIn .inter-title{
    width: 25%;
    color: rgb(2, 112, 255);
    word-wrap: break-word; 
    overflow: hidden;
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-weight: bold;
}

.inter-container.wide .cardIn .inter-title:hover{
    text-decoration: underline;
}

.inter-container.wide .cardIn .description {
    width: 98%;
    color: #555;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.inter-container.wide .cardIn .description:hover{
    text-decoration: underline;
}

.inter-container.wide .cardIn .inter-title .badge   {
    display: none;
}

.inter-container.wide .cardIn .author{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    column-gap: 11px;
    color: #555;
    margin-top: 10px;
    padding-bottom:5px;
}

.inter-container.wide .cardIn .author .carbon{
    font-size: 13.4px;
    color: #777777;
}

/* index == 1 */
.tall{
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 18px;
    column-gap:8px;
}

.big-tall{
    width: 47%;
}

.tall .card-tall{
    display:flex;
    width: 100%;
    height: 115px;
    column-gap: 12px;
    justify-content: space-between;
}

.tall .card-tall figure{
    width: 35%;
    height:100%;
    overflow: hidden;
    position: relative;
}

.tall .card-tall figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.tall .card-tall .author{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 11px;
}

.tall .card-tall .author .carbon{
    font-weight: 500;
    font-size: 11px;
}

.tall .card-tall .author .badge{
    font-size:10px;
}

.card-tall .cardIn{
    width: 70%;
}

.tall .card-tall .inter-title{
    display: flex;
    column-gap: 8px;
}

.tall .card-tall .inter-title p{
    width: 90%;
    color: rgb(2, 112, 255);
    word-wrap: break-word; 
    overflow: hidden;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-weight: bold;
}

.card-tall .cardIn .description{
    width: 98%;
    color: #555;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}
/* end interntional */

@media (max-width:882px) {
    .content.active .cont {
        width: 76%;
        height: 700px;
    }

    .f {
        width: 98%;
    }

    .sidebar.ad.active {
        width: 200px;
        height: 100%;
    }

}

@media (max-width:750px) {
    .content.active .cont {
        width: 74%;

    }

    .sidebar.ad.active {
        width: 200px;
        height: 100%;
    }

    .box-modal{
        width: 55%;
    }
}

@media (mx-width:722px){
    .dgr{
        width: 50%;
    }
}

@media (max-width:655px) {
    .content.active .cont {
        width: 70%;
    }

    .sidebar.ad.active {
        width: 200px;
        height: 100%;
    }

    .icon .logo-sos {
        width: 100px;
    }

    .icon .logo-sos.re .box-logo {
        width: 100px;
    }

    .box-chart {
        justify-content: space-evenly;
        align-items: center;
        height: auto;
    }

    .box-chart .card-chart {
        width: 95%;
    }

    .box-chart .box-news {
        width: 95%;
        height: 360px;
        margin-top: 30px;
    }

    .ug{
        width: 100%;
    }
}

@media(max-width:500px) {
    .box-modal{
        width:80%;
    }
   
}

@media (max-width:390px) {
    .content.active .cont {
        height: 660px;
    }

    .sidebar.sidebar.ad.active {
        height: 100%;
    }

    .box-chart .box-news {
        width: 80%;
    }

    .img{
        width:90%;
    }

    .img img{
        width: 100%;
    }

    .description.view{
        width:95%;
    }

    .description.view .title{
        width:100%;
        font-size: 18px;
    }
}

/* end admin */